@using EntityLayer.Concrete
@model List<About>

<div class="about" id="about">
	<div class="container">
		<h3 class="tittle">About Us</h3>
		<p class="heading-btm-w3ls">With our natural and sustainable farming methods, we provide the highest quality and healthiest products to you.</p>
		<div id="horizontalTab">
			<ul class="resp-tabs-list">
				<li>History</li>
				<li>About us</li>
				<li>Our clients </li>
			</ul>
			<div class="resp-tabs-container">
				<div class="tab1">
					<p class="para-w3-agileits">Duis hendrerit lacus vel eros gravida, ac bibendum urna sollicitudin. Ut tempus leo quis diam auctor, et malesuada risus eleifend. Vivamus quis facilisis arcu. Vestibulum quis velit sit amet odio ullamcorper congue id a est.Suspendisse fringilla pellentesque risus sit amet bibendum. id consequat turpis auctor venenatis.</p>
				</div>
				<div class="tab2">
					<p class="para-w3-agileits">Proin congue, est dapibus efficitur egestas, turpis ligula finibus sem, sed lacinia dui risus nec enim. Morbi condimentum, turpis at fringilla condimentum, leo arcu malesuada urna, ut vulputate lectus enim in odio.Donec fringilla hendrerit laoreet. Cras augue urna, convallis mollis dictum at. Phasellus sit amet massa lectus.  </p>
				</div>
				<div class="tab3">
					<div class="clients">
						<ul>
							<li><img src="~/web/images/c1.png" alt="clients" class="img-responsive" /><span>Sean Damon</span></li>
							<li><img src="~/web/images/c2.png" alt="clients" class="img-responsive" /><span>Natalie Barnes</span></li>
							<li><img src="~/web/images/c3.png" alt="clients" class="img-responsive" /><span>John Mccoist</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>