<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="mdi mdi-elevation-rise menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Default/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Go Website</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Services</span>
                
            </a>
            
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Team Members</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Chart/Index/">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Charts</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/Announcement/Index/">
                <i class="mdi mdi-format-annotation-minus menu-icon"></i>
                <span class="menu-title">News</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <i class="mdi mdi-emoticon menu-icon"></i>
                <span class="menu-title">Inbox</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-map menu-icon"></i>
                <span class="menu-title">Address</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Image/Index/">
                <i class="mdi mdi-image menu-icon"></i>
                <span class="menu-title">Images</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Report/Index/">
                <i class="mdi mdi-file-document menu-icon"></i>
                <span class="menu-title">Reports</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Index/">
                <i class="mdi mdi-key menu-icon"></i>
                <span class="menu-title">Admin Operations</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <i class="mdi mdi-exit-run menu-icon"></i>
                <span class="menu-title">Sign Out</span>
            </a>
        </li>
        
    </ul>
</nav>